<div class="container">
  <h3 class="text-center colorh3" >Airplane - Cadastro</h3>
  <div class="jumbotron">
    <form [formGroup]="formulario" (ngSubmit)="salvar()">
      <div class="form-row">
        <div class="form-group col-md-12">
          <label for="codigo">Código</label>
          <input type="text" class="form-control" placeholder="Código do avião" id="codigo" name="codigo" formControlName="codigo">
        </div>
        <div class="form-group col-md-12">
          <label for="modelo">Modelo</label>
          <input type="text" class="form-control" placeholder="Modelo do avião" name="modelo" formControlName="modelo">
        </div>
        <div class="form-group col-md-12">
          <label for="quantidadePassageiros">Quantidade Passageiros</label>
          <input type="number" class="form-control" name="quantidadePassageiros" formControlName="quantidadePassageiros">
        </div>
      </div>
      <div class="btn-group">
        <button type="submit" class="btn btn-outline-success"><i class="fas fa-save"></i>Cadastrar</button>
        <button type="button" (click)="formReset()" class="btn btn-outline-primary">
          <i class="fa fa-recycle"></i>
          Limpar
        </button>
      </div>
    </form>
  </div>
</div>


