<div>
  <h3 class="text-center"><i class="fas fa-clipboard-list"></i> Cadastrar</h3>
</div>
<div class="container">
  <div class="jumbotron">
    <form [formGroup]="formulario" (ngSubmit)="salvar()">
      <div class="form-row">
        <div class="form-group col-md-12">
          <label for="codigo">Código</label>
          <input type="text" class="form-control" placeholder="Código do avião" id="codigo" name="codigo" formControlName="codigo">          
        </div>
        <div class="form-group col-md-12">
          <label for="modelo">Modelo</label>
          <input type="text" class="form-control" placeholder="Modelo do avião" name="modelo" formControlName="modelo">          
        </div>
        <div class="form-group col-md-12">
          <label for="quantidadePassageiros">Quantidade Passageiros</label>
          <input type="number" class="form-control" name="quantidadePassageiros" formControlName="quantidadePassageiros">          
        </div>
      </div>      
      <div class="btn-group">
        <button type="submit" class="btn btn-success"><i class="fas fa-save"></i> Salvar</button>
        <button type="button" (click)="formReset()" class="btn btn-primary" >
          <i class="fa fa-recycle"></i>
          Cancelar
        </button>
      </div>
    </form>
  </div>
</div>


