<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <img src="../../assets/gol-passagens-aereas.png" />
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-label="Toggle navigation"
            [attr.aria-expanded]="isExpanded" (click)="toggle()">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent" [ngClass]='{"show": isExpanded}'>
      <ul class="navbar-nav flex-grow">
        <!--<li class="nav-item" [routerLinkActive]='["link-active"]' [routerLinkActiveOptions]='{ exact: true }'>
        <a class="nav-link text-dark" [routerLink]='["/"]'>Home</a>
      </li>-->
        <!--<li class="nav-item" [routerLinkActive]='["link-active"]'>
        <a class="nav-link text-dark" [routerLink]='["/counter"]'>Counter</a>
      </li>
      <li class="nav-item" [routerLinkActive]='["link-active"]'>
        <a class="nav-link text-dark" [routerLink]='["/fetch-data"]'>Fetch data</a>
      </li>-->
        <li class="nav-item" [routerLinkActive]='["link-active"]'>
          <a class="nav-link text-dark" [routerLink]='["/cadastrar"]'> Cadastrar</a>
        </li>
        <li class="nav-item" [routerLinkActive]='["link-active"]'>
          <a class="nav-link text-dark" [routerLink]='["/listar"]'> | Listar</a>
        </li>
      </ul>    
    </div>
  </nav> 
</header>
